html {
  font-size: 16px;
  font-family: "Hind Vadodara", Arial, sans-serif;
  color: #4a4a4a;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.95rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4;
}

p,
.infotext a {
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.1rem;
}

.flex {
  display: flex; 
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.mobile {
  display: none;
}

/* Header-Section */

header {
  background-color: #fff;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.logo {
  align-items: center;
  justify-content: flex-start;
  font-family: "Hind Siliguri";
  font-weight: 700;
  padding-right: auto;
}

.logo img {
  width: auto;
  padding-left: 1.5rem;
}

.logo p span:last-child {
  color: #d8d8d8;
  font-weight: 300;
}

nav {
  padding-right: 1.5rem;
}

nav ul li a {
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}

/* Jumbotron-Section */

.jumbotron {
  position: relative;
  margin-top: 4rem;
  background-color: #d8d8d8;
  justify-content: flex-start;
  padding: 2rem 1.5rem;
}

.jumbotron .jbtimg {
 /* margin: 2rem 1.5rem;*/
  flex-grow: 1;
  flex-basis: 60%;
}

.jumbotron img {
  width: 100%;
}

.jumbotron .start {
  margin: 2rem 0 2rem 1.5rem;
  justify-content: center;
  flex-basis: 40%;
  /*padding-right: 3rem; */
}

.jumbotron .start h1 {
  margin-bottom: 5%;
  padding-right: 3rem;
}

.jumbotron .start h3 {
  margin-bottom: 10%;
  max-width: 24rem;
}

.btn {
  background-color: #4a4a4a;
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0.5rem;
  border: none;
  max-width: 24rem;
  margin-bottom: 0.2rem;
}

/* Campus-Section */

#campus {
  background-color: #f3f5f5;
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.lead {
  flex-grow: 1;
  flex-basis: 45%;
  padding: 2rem 0;
}

.lead img {
  width: 100%;
}

.lead h2 {
  margin: 2rem 0 1.5rem 0;
}

.source {
  font-family: "Playfair-Display";
  font-weight: 400; 
  /*font-style: italic;*/
  margin-top: 2rem;
}

.infos {
  margin-left: 1.5rem;
  flex-basis: 40%;
  border-left: 1px solid #d8d8d8;
  padding-top: 1rem;
}

.info {
  padding: 1rem 1rem 1rem 0;
}

.infos .info:first-child {
  border-bottom: 1px solid #d8d8d8;
}

.infos .info:last-child {
  background-color: #d8d8d8;
}

.infoimg {
  flex-basis: 35%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.infoimg img {
  width: 100%;
  height: auto;
}

.infotext {
  flex-basis: 65%;
  justify-content: center;
}

.infotext h3,
.infotext p {
  margin-bottom: 0.5rem;
}

.infotext a {
  text-decoration: none;
  color: #69f;
}

/* Courses-Section */

#courses {
  background-color: #eaebec;
  padding: 2rem 3.5rem;
  align-items: center;
  justify-content: center;
}

#courses h2 {
  margin-bottom: 1rem;
}

.featured {
  justify-content: center;
  margin: 1rem 0;
}

.course {
  background-color: white;
  margin: 0 1rem;
  /*flex-basis: 30rem: */
  /*height: 100%;*/
  /*width: 100rem;*/
  justify-content: flex-start;
  max-width: 532px;
}

.courseimg {
  height: 100%;
  display: block;
}

.courseimg img {
  height: auto;
  width: 100%;
}

.coursetext {
  display: block;
  padding: 1rem;
  min-height: 100%;
}

.coursetext h3,
.coursetext p {
  margin-top: 0.5rem;
}

.coursetext p:last-child {
  margin-bottom: 1.5rem;
}

/* Thesis-Section */

#thesis {
  background-color: #f3f5f5;
}

/* Background-Color First child right side: #d8d8d8; */

/* Footer-Section */

footer {
  border-bottom: 1px solid #f3f5f5;
  background-color: #f3f5f5;
}



