html {
  font-size: 16px;
}

container {
  position: relative;
  margin-top: 64px;
}

.flex {
  display: flex; 
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.mobile {
  display: none;
}

/* Header-Section */

header {
  background-color: #fff;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}

/* Jumbotron-Section */

.jumbotron {
  background-color: #d8d8d8;
  margin: 2rem 1.5rem;
}

.btn {
  background-color: #4a4a4a;
}

/* Campus-Section */

#campus {
  background-color: #f3f5f5;
}

/* color of last-child and borders: #d8d8d8; */

/* Courses-Section */

#courses {
  background-color: #eaebec;
  margin: 2rem 4.5rem;
}

/* Thesis-Section */

#thesis {
  background-color: #f3f5f5;
}

/* Background-Color First child right side: #d8d8d8; */

/* Footer-Section */

footer {
  border-bottom: 1px solid #f3f5f5;
  background-color: #f3f5f5;
}



