/* General styles */  

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Hind Vadodara", Arial, sans-serif;
  color: #4a4a4a;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.95rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4;
}

p,
blockquote,
.infotext a {
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.1rem;
}

.flex {
  display: flex; 
  max-width: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.mobile,
.mobileimg {
  display: none;
}


/* Header and Footer-Nav */

nav {
  padding-right: 1rem;
}

nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  border-radius: 5%; 
  box-shadow: 2px 2px 5px #d8d8d8;
  font-size: 1.2rem;
  color: #69f;
  transition: box-shadow 250ms ease-in,
  color 100ms ease-in, font-size 250ms;
}

nav ul li a:active {
  color: #6cf; 
}

/* Header-Section */

header {
  background-color: #fff;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.logo {
  align-items: center;
  justify-content: flex-start;
  font-family: "Hind Siliguri";
  font-weight: 700;
  padding-right: auto;
}

.logo img {
  width: auto;
  padding-left: 1.5rem;
}

.logo p span:last-child {
  color: #ccc;
  font-weight: 300;
}

/* Main-Content */

img, video {
  max-width: 100%;
  height: auto;
}

.jumbotron .jbtimg,
.lead {
  flex-grow: 1;
  flex-basis: 60%;
  margin: 2rem 1.5rem;
}

.lead h2 {
  margin: 2rem 0 1.5rem 0;
}

.jumbotron .start,
.infos {
  flex-basis: 40%;
}

.infos {
  margin: 0;
  padding-top: 1rem;
}

.info {
  padding: 1rem 0;
}

.infoimg {
  flex-basis: 35%;
  height: auto;
  padding: 0 1rem;
}

.infoimg img {
  width: 100%;
  height: auto;
}

.infotext {
  flex-basis: 65%;
  justify-content: center;
}

.infotext h3,
.infotext p {
  margin-bottom: 0.5rem;
  max-width: 95%;
}

/* Jumbotron-Section */

.jumbotron {
  margin-top: 4rem;
  background-color: #d8d8d8;
  align-items: center;
}

.jumbotron .start h1,
.jumbotron .start h3,
.btn {
  margin-bottom: 2rem;
  max-width: 80%;
}

.btn {
  background-color: #4a4a4a;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0.5rem;
  border: none;
  margin-bottom: 0rem;
}

.btn:hover {
  padding: 0.3rem;
  background-color: hsla(240, 100%, 50%, 0.7);
  transform: rotate(-15deg);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 500ms ease-in;
}

.btn:active {
  color: #6cf ;
}

/* Campus-Section */

#campus {
  background-color: #f3f5f5;
}

.source {
  font-family: Nunito;
  font-weight: 400; 
  margin-top: 2rem;
  font-style: italic;
}

#campus .infos {
  border-left: 1px solid #d8d8d8;
}

#campus .infos .info:first-child {
  border-bottom: 1px solid #d8d8d8;
}

#campus .infos .info:last-child {
  background-color: #d8d8d8;
}

.infotext a {
  text-decoration: none;
  color: #69f;
}

.infotext a:hover {
  color: #03c;
  background: linear-gradient(to right, #9cf, transparent);
  font-size: 1.4rem;
  padding-left: 1rem;
  transition: font-size 500ms linear;
}

.infotext a:active {
  color: #000;
}


/* Courses-Section */

#courses {
  background-color: #eaebec;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: center;
}

#courses h2 {
  margin-bottom: 1rem;
}

.course {
  background-color: #fff;
  margin: 1rem;
  justify-content: flex-start;
  max-width: 532px;
}

.courseimg {
  height: 100%;
  display: block;
}

.courseimg img {
  height: auto;
  width: 100%;
}

.coursetext {
  display: block;
  padding: 1rem;
  min-height: 100%;
}

.coursetext h3,
.coursetext p {
  margin-top: 0.5rem;
}

.coursetext p:last-child {
  margin-bottom: 1.5rem;
}

/* Thesis-Section */

#thesis {
  background-color: #f3f5f5;
  padding-top: 2rem;
  align-items: center;
}

.lead h3 {
  margin: 1.5rem 0 0.5rem 0;
}

.thesiscontent .infos {
  margin-top: 1rem;
}

.thesiscontent .infos .info:first-child {
  background-color: #d8d8d8;
}

/* Footer-Section */

footer {
  width: 100%;
  border-top: 1px solid #d8d8d8;
  background-color: #f3f5f5;
  justify-content: space-between;
  padding: 1rem 0 3rem 1.5rem;
}

.fa {
  margin: 0 0.5rem;
}

/* Media-Queries */

@media only screen and (max-width: 1130px) {
  p,
  blockquote,
  .infotext a {
    line-height: 1.3;
    font-size: 1rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.1;
    }

  h2 {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 875px) {
  h1 {
  font-size: 2rem;
  line-height: 1;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.1;
  }

  p,
  .infotext a {
    line-height: 1.1;
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 767px), (max-width: 767px) {

  /* General */

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h1 {
  font-size: 5rem;
  line-height: 1.2;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
    line-height: 1.4;
  }

  p,
  .infotext a {
    line-height: 1.4;
    font-size: 2.4rem;
  }

  /* Navigation */

  ul {
    width: 100%;
    justify-content: space-around;
  }

  ul img {
    height: 3rem;
  }

  .logo {
    display: none;
  }

  /* Jumbotron */
  
  .jumbotron {
    flex-direction: column;
    padding: 0;
  }

  .jumbotron .start {
    margin: 2rem 1rem;
  }
  
  .jumbotron .start h1,
  .jumbotron .start h3 {
    margin-bottom: 2rem;
    max-width: 100%;
  }

  .btn {
    font-size: 3rem;
    max-width: 100%;
    height: 6rem;
    background-color: #868686;
  }

  /* Campus-Section */

  #campus .lead,
  #campus .infoimg .desktop {
    display: none;
  }

  #campus {
    flex-direction: column;
    padding: 0;
  }

  #campus .infos {
    border: none;
  } 

  #campus .info {
    flex-direction: column;
    padding: 0;
    border: none;
  }

  .infoimg .mobileimg {
    display: block;
  }

  .infotext {
    padding: 2rem 2rem 4rem 2rem;
  }

  #campus .info:last-child .infotext {
    padding-bottom: 2rem;
  }

  #campus .infos .info:last-child {
    background-color: transparent;
  }

  /* Courses-Section */
  
  #courses {
    background-color: #f8f8f8;
    padding: 2rem 1rem;
  }

  #courses h2 {
    margin: 1rem;
  }

  .featured {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .course {
    background-color: #eaebec;
    max-width: 100%;
    margin: 0.5rem;
    justify-content: stretch;
  }

  .coursetext h3 {
    padding: 1rem 0 1.5rem 1rem;
  }

  .course:hover {
    background-color: #9cf;
  }

  .course .courseimg,
  .course p {
    display: none;
  }

}

  /* Thesis-Section */

  #thesis {
    padding: 2rem 0rem 1.5rem 0;
  }

  #thesis .lead h3,
  #thesis .lead p,
  #thesis .infos {
    display: none;
  }

  #thesis .lead {
    padding: 1rem 0 0 0;
    margin: 0 0 1rem 0;
  }

  /* Footer-Section */
    
    footer {
      border: none;
      padding: 1rem;
    }

    footer nav {
      display: none;
    }
}




